extends layout

block content
  
  h1 Welcome to Weekly Meal Planner!
  div.intro
    p some introductional text
  div.new
    p
      a(href='/planner/signup') Sign Up
  div.old
    p
      a(href='/planner/signin') Sign In 
  
  

        
