extends layout

block content
  
  h1 Welcome to Weekly Meal Planner!
  br
  br
  br
  br
  br
  br
  div.intro
    p This planner let's you take control of the time consuming task of determining what to eat. 
    p You will be able to quickly search through thousands of recipies for your favorite ingredients!
    p Stop worrying about what to make every evening after a long day of work! 
    p The Weekly Meal Planner will help you simplify your life and organize your mealtimes!
  div.break  
    br
    br
    br
    br
  div.new
    p
      a(href='/planner/signup') Sign Up
  div.old
    p
      a(href='/planner/signin') Login 
  
  

        
