extends ../../layout

block content
  h1 Friday's Dinner
  p.ingr Enter ingredient: 
    input(id='search' type='search' name='search' placeholder='Search...') 
    input(class='search' type='submit' value='search' )
