extends ../../layout

block content
  h1 Saturday's Dinner
  form(action='/planner/days/sat' method='post')
    p.ingr Enter ingredient: 
      input(id='search' type='search' name='search' placeholder='Search...' autofocus) 
      input(class='search' type='submit' value='search' )
    div.table  
      table
        thead
          tr
            th Name
            th Image
            th Rating
        tbody
          if Results
            each entry in Results
              tr
                td
                  a(href='#{entry.WebURL}')= entry.Title
                td
                  img.resize(src='#{entry.ImageURL}')
                td= entry.StarRating.toFixed(1)
    p.next
      a(href='/planner/days/sun') Go To Next Day!
